
.square {
    position: absolute;
    overflow: hidden;
    right: 0;
    background-color: green;
    /*transition: width 0.5s ease-out, height 2s ease-out;*/
}

.carre {
    position: absolute;
    overflow: hidden;
    /*transition: width 0.5s ease-out, height 2s ease-out;*/
}

.content {
  height: 100%;
  width: 100%;
  min-height: 100px;
  min-width: 30px;  
}

